body {
	font-family: georgia;
	padding: 0;
	margin: 0;
	background: #efeee7;
	line-height: 150%;
}

h1 {
	padding: 20px 0;
	margin: auto;
	font-size: 60px;
	background-color: black;
	color: white;
	text-align: center;
}

#realName {
	margin-left: 50px;
	width: 125px;
	height: 30px;
	text-align: center;
}


#container {
	padding: 50px;
	width: auto;
	margin: 0 auto;
}

img {
  max-width:200px;
  max-height:200px;
  margin-right: 20px;
  float: left;
}

#text {
	width: 40%;
	float: left;
}

#reference {
	float: right;
	width: 30%;
}

#realName {
	float: left;
}
#findMe {
	float: right;
}

#wow {
	width: 100%;
	float: block;
}
#internet {
	float: right;
}

/*CSS Box Model
	Content is in the center, padding is the space around it
	Border is what encompasses the content area
	Margin is the area around the box
*/

/*Flow
	HTML elements force adjacent elements to flow around them.
	Block: most elements are block level, they take up an entire line of space.
	Inline: flow and wrap
*/
